body{
	    background: url(http://www.photographymad.com/files/images/woodland.jpg);
}
#container{
	width: 960px;
	margin: auto;
}
img{
	width: 300px;
}
#main-content{
	background-color: gray;

}
header{
	width: 960px;
	margin: auto;
}
h1{
	font-size: 60px;
}
#logo{
	font-size: 30px;
}
h2{
	font-size: 20px;
}
#linkage{
	top:  0;
	color:  black;
	float: right;
	font-size: 20px;
	padding: 20px 0;
}